  $white: rgb(242,242,242);
  $lowOpacityBlack : rgba(23,23,23, 0.7);
 $red:#ed174f;
 $black: #171717;
elseis-play-filter {
  display: block;
  background-color: $black;
  color: $white;
  .letter-filter {
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;
    padding: 0 10%;
    align-items: center;
    .letter-fitler-description {
      padding-left: 10px;
      height: 50px;
      line-height:50px;
    }
    .letter-list {
      display: inline-block;
      list-style: none;
      height: 50px;
      line-height:50px;
      ul {
        float: right;
      }
      .letter {
        display: inline-block;
        margin-right: 5px;
        padding: 3px;
        cursor: pointer;
        &.selected-letter {
          font-weight: bold;
          color: $red;
        }
      }
    }

    .autoresList{
      ul{
        list-style: none;
        li{
          &:hover{
            color: $red;
            cursor:pointer;
          }
        }
      }
    }

  }

  .filter-input-dropdown {
    padding: 0 10%;
    align-items: center;
    height: 100px;
    padding-top: 20px;
    .input-filter {
      display: inline-block;
      width: 60%;
      height: 35px;
      input {
        width: 100%;
        &[type="text"] {
          font-size: 1.1em;
          background-color: $black;
          height: 100%;
          color: $white;
          padding: 0px 10px;
          border: solid 1px $white;
          transition: border 0.3s;
        }
        &[type="text"]:focus,
        &[type="text"].focus {
          border: solid 1px $white;
          outline: none;
        }
      }
    }
    .dropdown-filter {

      background-color: $black;
      width: 300px;
      float: right;
      display: inline-block;
      height: 35px;
      .dropdown-label {
        cursor: pointer;
        height: 100%;
        width: 100%;
        align-items: center;
        padding: 0 10px;
        border-bottom: 1px solid $white;
        label {
          line-height: 35px;
          cursor: pointer;
        }
      }
      .dropdown {

        z-index: 5;
        background-color: $lowOpacityBlack;
        position: absolute;
        width: 300px;
        .dropdown-options {
          list-style: none;
          .dropdown-option {
            color: $red;
            border-bottom: 1px solid $red;
            &:hover {
              color: $white;
            }
          }
        }
      }
    }
  }

  .plays-display  {
    margin:0 auto;

    display:block;
    background-color: $lowOpacityBlack;
  }
}