$white: rgb(242, 242, 242);
$lowOpacityBlack: rgba(23, 23, 23, 0.7);
$red: #ed174f;
$black: #171717;
elseis-play-filter {
  display: block;
  background-color: $black;
  color: $white;
  text-align: left !important;
  .letter-filter {
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;
    align-items: center;
    display:block;
    padding-left: 0 !important;
    padding-right: 0 !important;
    .letter-fitler-description {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .letter-list {
      display: inline-block;
      list-style: none;
      overflow-y: hidden;
      overflow-x: auto;

      padding-top: 10px;
      padding-bottom: 10px;
      ul {

        float: right;
      }
      .letter {
        display: inline-block;
        margin-right: 5px;
        padding: 3px;
        cursor: pointer;
        &.selected-letter {
          font-weight: bold;
          color: $red;
        }
      }
    }

    .autoresList {
      padding-bottom:10px;
      float: left;
      width: 100%;

      ul {
        list-style: none;
        li {
          &:hover {
            color: $red;
            cursor: pointer;
          }
        }
      }
    }

  }

  .filter-input-dropdown {
    width:100%;
    float:left;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    .input-filter {
      position: relative;
      display: inline-block;
      height: 35px;
      input {
        width: 100%;
        &[type="text"] {
          font-size: 1.1em;
          background-color: $black;
          height: 100%;
          color: $white;
          padding-left: 10px;
          padding-right: 25px;
          border: solid 1px $white;
          transition: border 0.3s;
          text-overflow: ellipsis;
        }
        &[type="text"]:focus,
        &[type="text"].focus {
          border: solid 1px $white;
          outline: none;
        }
      }
      i {
        position: absolute;
        top: 10px;
        right: 35px;

      }
    }
    .dropdown-filter {
      i {
        line-height: 36px;
      }
      background-color: $black;
      float: right;
      display: inline-block;
      height: 35px;
      .dropdown-label {
        cursor: pointer;
        height: 100%;
        width: 100%;
        align-items: center;
        padding: 0 10px;
        border-bottom: 1px solid $white;
        &.dropdown-active {
          border-bottom: 1px solid $red;
        }
        label {
          line-height: 35px;
          cursor: pointer;
        }
      }
      .dropdown {

        z-index: 5;
        background-color: $lowOpacityBlack;
        position: absolute;
        width: calc(100% - 30px);
        .dropdown-options {
          list-style: none;
          .dropdown-option {
            color: $red;
            border-bottom: 1px solid $red;
            &:hover {
              color: $white;
            }
          }
        }
      }
    }
  }

  .load-all {

  padding-left:20px !important;
    padding-right:20px !important;
    label {
      font-weight: normal;
      padding: 5px 0;
      &.load-all-label {
        cursor: pointer;
        background-color: #ed174f !important;
        padding: 5px 15px;
      }
    }
  }

  .plays-display {
    margin: 15px auto;
    display: block;
    background-color: $lowOpacityBlack;
  }
  .loader-display {
    margin: 0 auto;
    min-height: 330px;
    background-color: $lowOpacityBlack;
    display: table;
    .loader {
      width:100px;
      height: 100px;
      margin: 0 auto;
      background-image: url('http://alltheater.elseis.es/wp-content/themes/videotouch/dist2/images/ring-alt.gif');
      background-repeat: no-repeat;
      background-size: 100px auto;
      filter: blur(0px);
      -webkit-filter: blur(0px);
      display: inline-block;
      clear: both;
      margin-top: 75px;
    }
  }
  .no-results-display {
    margin: 0 auto;
    min-height: 100px;
    background-color: $lowOpacityBlack;
    display: table;
    .no-results {
      text-align:center;
      width:auto;
      height: 100px;
      margin: 0 auto;
      -webkit-filter: blur(0px);
      display: inline-block;
      clear: both;
      margin-top: 50px;

      .load-all-label{
        cursor: pointer;
        background-color: #ed174f !important;
        margin-top:5px;
        padding: 5px 15px;
      }
    }
  }

}