<div class="">
    <section class="letter-filter">
        <div class="row">
            <label class="letter-fitler-description col-lg-4 col-sm-12">
                Explora los títulos por autor {{elseisPlayFilterCtrl.selectedAuthor.name}}
            </label>
            <div class="letter-list  col-lg-8 col-sm-12">
                <ul>
                    <li class="letter "
                        ng-repeat="letter in elseisPlayFilterCtrl.abecedario"
                        ng-bind="letter | uppercase"
                        ng-click="elseisPlayFilterCtrl.handleClickOnLetter(letter)"
                        ng-class="{'selected-letter': elseisPlayFilterCtrl.letterIsSelected(letter)}">

                    </li>
                </ul>
            </div>
        </div>
        <div class="row autoresList">
            <ul>
                <li class="col-lg-3 "
                    ng-repeat="author in elseisPlayFilterCtrl.displayedAuthors"
                    ng-bind="author.name"
                    ng-click="elseisPlayFilterCtrl.handleAuthorSelection(author)">

                </li>
            </ul>
        </div>
    </section>
    <section class="filter-input-dropdown row">
        <div class="input-filter">
            <input type="text" ng-model="elseisPlayFilterCtrl.kwInput"
                   ng-change="elseisPlayFilterCtrl.loadPlaysFilteredByKW()"
                   placeholder="Busca por título, autor, director, compañía, género, tema...">
            <i class="fa fa-search"></i>
        </div>
        <div class="dropdown-filter">
            <div class="dropdown-label"
                 ng-click="elseisPlayFilterCtrl.toggleDropdown()"
                 ng-class="{'dropdown-active':elseisPlayFilterCtrl.dropdownVisible}">
                <label ng-bind="elseisPlayFilterCtrl.selectedDropdownOption | uppercase"></label>
                <i class="fa  pull-right"
                   ng-class="{'fa-caret-up':elseisPlayFilterCtrl.dropdownVisible, 'fa-caret-down':!elseisPlayFilterCtrl.dropdownVisible}"></i>
            </div>
            <div class="dropdown animated fadeIn " ng-if="elseisPlayFilterCtrl.dropdownVisible">
                <ul class="dropdown-options">
                    <li class="dropdown-option dropdown-label "
                        ng-repeat="dropdownOption in elseisPlayFilterCtrl.dropdownOptions"
                        ng-click="elseisPlayFilterCtrl.selectDropdownOption(dropdownOption)">
                        <label ng-bind="dropdownOption | uppercase"></label>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="plays-display row">
        <elseis-plays-display plays="elseisPlayFilterCtrl.plays"
                              order-by="elseisPlayFilterCtrl.orderBy"
                              filter="elseisPlayFilterCtrl.filter"
                              total-pages="elseisPlayFilterCtrl.totalPages"
                              total-plays="elseisPlayFilterCtrl.totalPlays"
                              load-without-pagination="elseisPlayFilterCtrl.loadWithoutPagination()"></elseis-plays-display>
    </section>
</div>